/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #1f2937;
    overflow-x: hidden;
    background: #f8fbff;
}

/* TOPBAR */

.topbar {
    background: #0b4f8a;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

/* NAVBAR */

.navbar {
    padding: 18px 0;
    transition: .35s ease;
}

.navbar-brand {
    font-size: 32px;
    letter-spacing: 1px;
}

.navbar .nav-link {
    color: #222 !important;
    font-weight: 600;
    margin-left: 22px;
    position: relative;
}

.navbar .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 3px;
    background: #0d6efd;
    transition: .3s;
}

.navbar .nav-link:hover::after {
    width: 100%;
}

/* HERO */

.hero-section {
    min-height: 100vh;
    position: relative;

    background:
        linear-gradient(rgba(4, 24, 48, .72), rgba(4, 24, 48, .72)),
        url('https://images.unsplash.com/photo-1538108149393-fbbd81895907?q=80&w=1800&auto=format&fit=crop') center center/cover no-repeat;
}

.hero-section .container {
    z-index: 2;
    position: relative;
}

.hero-section h1 {
    font-size: 72px;
    font-weight: 800;
    line-height: 1.1;
}

.hero-section p {
    font-size: 20px;
    max-width: 650px;
    opacity: .92;
    margin-top: 20px;
}

.hero-section .btn {
    padding: 18px 42px;
    border-radius: 50px;
    font-weight: 700;
    margin-top: 18px;
}

/* ========================SERVICES SECTION ===================*/
.services{
    padding:120px 0;
    background:#f7fbff;
}

.service-card{
    background:#fff;
    border-radius:28px;
    overflow:hidden;
    box-shadow:0 20px 60px rgba(0,0,0,.08);
    transition:.35s ease;
    height:100%;
}

.service-card:hover{
    transform:translateY(-12px);
    box-shadow:
    0 30px 80px rgba(13,110,253,.18);
}

/* IMAGE */
.service-image{
    height:250px;
    overflow:hidden;
}

.service-image img{
    width:100%;
    height:100%;
    object-fit:cover;
    transition:.5s;
}

.service-card:hover .service-image img{
    transform:scale(1.08);
}

/* CONTENT */
.service-content{
    padding:40px 35px 35px;
    position:relative;
}

/* ICON */
.service-icon{
    width:90px;
    height:90px;
    background:
    linear-gradient(
    135deg,
    #0d6efd,
    #00c6ff);
    border-radius:24px;
    display:flex;
    align-items:center;
    justify-content:center;
    position:absolute;
    top:-45px;
    right:30px;
    box-shadow:
    0 15px 35px rgba(13,110,253,.35);
}

.service-icon svg{
    width:42px;
    height:42px;
    stroke:#fff;
    fill:none;
    stroke-width:3;
}

/* TEXT */
.service-content h4{
    font-size:28px;
    font-weight:700;
    margin-bottom:18px;
    color:#0b2545;
}

.service-content p{
    color:#6b7280;
    line-height:1.9;
    margin-bottom:22px;
}

/* LINK */
.service-content a{
    color:#0d6efd;
    font-weight:700;
    text-decoration:none;
}


/* ========================DEPARTMENTS SECTION ===================*/
.departments-section{
    padding:120px 0;
    background:#ffffff;
}

/* BOX - NO CARD FEEL */
.dept-box{
    text-align:center;
    padding:20px 10px;
}

/* ICON */
.icon svg{
    width:70px;
    height:70px;

    fill:none;
    stroke:#111827;
    stroke-width:2;

    stroke-linecap:round;
    stroke-linejoin:round;
}

/* color variation */
.dept-box:nth-child(1) .icon svg{ stroke:#111827; }
.dept-box:nth-child(2) .icon svg{ stroke:#6366f1; }
.dept-box:nth-child(3) .icon svg{ stroke:#06b6d4; }
.dept-box:nth-child(4) .icon svg{ stroke:#22c55e; }
.dept-box:nth-child(5) .icon svg{ stroke:#f97316; }

/* TEXT */
.dept-box h4{
    font-size:22px;
    font-weight:700;
    margin:12px 0 8px;
    color:#0b2545;
}

.dept-box p{
    color:#6b7280;
    font-size:15px;
    line-height:1.7;
}

/* ========================================DOCTOR SECTION ===========================*/

.doctors-section{
    padding:120px 0;
    background:#ffffff;
}

/* CARD */
.doctor-card{
    background:#fff;
    border-radius:28px;
    overflow:hidden;
    box-shadow:
    0 18px 50px rgba(0,0,0,.08);
    transition:.35s ease;
}

.doctor-card:hover{
    /* transform:translateY(-12px); */
    box-shadow:
    0 28px 70px rgba(13,110,253,.18);
}

/* IMAGE */
.doctor-image{
    position:relative;
    overflow:hidden;
    height:380px;
}

.doctor-image img{
    width:100%;
    height:100%;
    object-fit:cover;
    transition:.45s;
}

.doctor-card:hover img{
    transform:scale(1.08);
}

/* SOCIAL */
.doctor-social{
    position:absolute;
    bottom:7px;
    left:9px;
    display:flex;
    gap:6px;
    opacity:1;
    transform:none;
}
/* 
.doctor-card:hover .doctor-social{

    opacity:1;

    bottom:30px;
} */

.doctor-social a{
    width:35px;
    height:35px;
    background:#6d6d6d;
    color:#fff;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    text-decoration:none;
    transition:.3s;
}

.doctor-social a:hover{
    background:#003e80;
    /* transform:translateY(-5px); */
}

/* CONTENT */
.doctor-content{
    padding:15px;
}

.doctor-specialist{
    display:inline-block;
    background:
    linear-gradient(
    135deg,
    #0d6efd,
    #00c6ff);
    color:#fff;
    padding:8px 18px;
    border-radius:30px;
    font-size:13px;
    font-weight:600;
    margin-bottom:18px;
}

.doctor-content h4{
    font-size:20px;
    font-weight:500;
    color:#0b2545;
    margin-bottom:16px;
}

.doctor-content p{
    color:#6b7280;
    line-height:1.9;
}

/* COUNTER */
.counter-section {
    padding: 90px 0;
    background:
        linear-gradient(135deg,
            #0d6efd,
            #003d80);
    color: #fff;
}

.counter-section h2 {
    font-size: 60px;
    font-weight: 800;
}

.counter-section p {
    font-size: 18px;
    opacity: .92;
}

/* ====================================FOOTER ==================================*/
.footer {
    background: #071b34;
    color: #fff;
    padding: 90px 0 40px;
}

.footer h4 {
    margin-bottom: 25px;
    font-weight: 700;
}

.footer p,
.footer li {
    color: #c7d4e2;
}

.footer ul {
    padding: 0;
}

.footer li {
    list-style: none;
    margin-bottom: 12px;
}

.footer a {
    text-decoration: none;
    color: #c7d4e2;
    transition: .25s;
}

.footer a:hover {
    color: #fff;
    padding-left: 8px;
}

/* RESPONSIVE */

@media(max-width:991px) {

    .hero-section {
        min-height: 85vh;
    }

    .hero-section h1 {
        font-size: 52px;
    }

}

@media(max-width:768px) {

    .hero-section {
        text-align: center;
    }

    .hero-section h1 {
        font-size: 42px;
    }

    .hero-section p {
        font-size: 17px;
    }

    .navbar .nav-link {
        margin: 12px 0;
    }

    .services h2 {
        font-size: 34px;
    }

    .counter-section h2 {
        font-size: 44px;
    }

}